.navbar{
  -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    padding-top: 0.5625rem;
}

.navbar-nav{
  margin: 0 auto;
}

.nav-link{
  font-weight: 600;
}

.card{
  max-width: 700px;
  margin: 20px auto;
}

.card-header{
  text-align: center;
}

.medium{
  width: 45%;
  float: left;
}

.medium_mr {
  margin-right: 10%;
}

.pre-phone{
  width: 15%;
  float: left;
  margin-right: 5px;
  margin-bottom: 0 !important;
  margin-top: 32px;
}

input[type='checkbox']{
  margin-left: 15px;
  vertical-align: middle;
  margin-top: -1px;
}

.full-input{
  width: 100%;
  overflow: hidden;
}
