.navbar{
  -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    padding-top: 0.5625rem;
}

.navbar-nav{
  margin: 0 auto;
}

.nav-link{
  font-weight: 600;
}